<div class="container pt-5 my-5">
    <div class="container d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
          <img src="error.JPG" alt="Error Image" class="img-fluid" style="max-width: 100px;">
          <h1 class="mt-4 text-muted fw-bold">Oops!</h1>
          <p class="lead text-danger">{{ errorMessage }}</p>
          
          <a routerLink="/" class="btn btn-primary mt-3">
            <i class="bi bi-house-door"></i> Go Back Home
          </a>
        </div>
      </div>
      
</div>